$purple: hsl(277, 64%, 61%);

html {
	height: 100%;
}
body {
	min-height: 100%;
	background-color: hsl(233, 47%, 7%);
	display: flex;
	justify-content: center;
	align-items: center;

	h1 {
		font-size: 30px;
	}

	#box {
		min-width: 50%;
		max-width: 70%;
		background-color: hsl(244, 38%, 16%);
		border-radius: 5px;
		display: flex;
		justify-content: flex-start;
		text-align: start;
		align-items: center;
	}

	#content {
		color: white;
		font-size: 14px;
		font-family: Inter;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		margin: 2vh 2vw 2vh 2vw;
	}

	#text {
		color: hsla(0, 0%, 100%, 0.75);
		font-family: Lexend Deca;
		margin-bottom: 10%;
	}

	#stats {
		width: 70%;
		color: hsla(0, 0%, 100%, 0.6);
		display: flex;
		justify-content: space-between;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 80%;
		flex-wrap: wrap;
	}

	.stat {
		display: flex;
		flex-flow: column;
		align-self: flex-end;
	}

	.heading_stats {
		font-weight: 700;
		font-size: 20px;
		color: white;
	}

	#purple {
		color: $purple;
	}

	#image {
		background-color: rgba(128, 0, 128, 0.438);
		border-radius: 0 5px 5px 0;
		display: flex;
		align-items: flex-end;
		min-width: 50%;
		min-height: 100%;
		img {
			border-radius: inherit;
			filter: opacity(0.4);
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	@media screen and (max-width: 800px) {
		/* Rédigez vos propriétés CSS ici */
		#box {
			flex-direction: column;
			justify-content: center;
			max-width: 90%;
			max-height: 75%;
			h1 {
				text-align: center;
				width: 100%;
			}
		}

		#content {
			width: 100%;
			display: flex;
			align-content: space-between;
			margin: 0 2vw 2vh 2vw;
			padding-left: 2vw;
		}

		#stats {
			width: 100%;
			flex-direction: column;
			align-content: space-around;
		}

		#image {
			order: -1;
			border-radius: 5px 5px 0 0;
			width: 100%;
		}

		#text {
			text-align: center;
		}

		.stat {
			align-self: initial;
			margin: 1vh 0 1vh 0;
		}
	}
}
